body
{
	font-size: 16px;
	background: #E9ECEF;
	
}

header.menu
{
	background:#cdd1d9;
}

ul{list-style: none;}

li
{
	display: inline-block;
	padding: .7%;
	text-align: center;
}

header.menu ul li img
{
	width: 50%;
}

li.notificacion
{
	float: right;
}

li.salir
{
	float: right;
}

ul li img:hover
{
	-webkit-animation: swing 1s 5;
}

section article article.datos img
{
	border-radius: 50%;
	border:4px solid black;
	float:left;
	margin-top: .5em;
}

article.datos
{
	background: white;
	border-bottom: 3px solid blue;


}

article.grupos
{
	margin: 5% 0 0 0;
	text-align: center;
	border-bottom: 3px solid blue;
	background: #dfe1e6;;
}


article.grupos h4
{
	background: white;
	height: 30px;

}


article#grupos_creados
{
	background: url(../img/menu/user.png) no-repeat 50%;
	background-size: 70px 70px;
	height: 100px;
}

section.container
{
	margin-left: 30px !important;
}


article h5
{
	background: white;
	padding: 1% 0 !important;
	margin: 0;
	padding: 0;
}



h4.nombre_alumno
{
	text-transform: uppercase;
	font-family: Arial;
	
}



hgroup.head_welcome 
{
	background: white;
	padding: 1%;
	text-align: justify;
	border-bottom: 3px solid black;
}



article.des_cali figure 
{
	
	display: inline-block;	
	width: 6%;
}

article.des_cali p
{
	display: inline-block;
	width: 75%;
}

article.des_asistencias figure 
{
	
	display: inline-block;	
	width: 6%;
}

article.des_asistencias p
{
	display: inline-block;
	width: 75%;
}

article.descripcion img:hover
{
	-webkit-animation: swing 1s 5;
}

@-webkit-keyframes swing {
	20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: top center; }
	20% { -webkit-transform: rotate(15deg); }	
	40% { -webkit-transform: rotate(-10deg); }
	60% { -webkit-transform: rotate(5deg); }	
	80% { -webkit-transform: rotate(-5deg); }	
	100% { -webkit-transform: rotate(0deg); }
}



#contenedor{
   margin:0 auto;
   text-align:center;
   width:360px; 
   display: inline-block;
}

.progress-bar {
   background-color: #1a1a1a;
   height: 25px;
   padding: 5px;
   width: 350px;
   margin: 15px 0;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
   -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
   box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
   display: inline-block;
}

.progress-bar span {
   display: inline-block;
   height: 25px;
   width: 200px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
   -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
   box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
   -webkit-transition: width .4s ease-in-out;
   -moz-transition: width .4s ease-in-out;
   -ms-transition: width .4s ease-in-out;
   -o-transition: width .4s ease-in-out;
   transition: width .4s ease-in-out;
}

.blue span {
   background-color: #34c2e3;
}

.orange span {
   background-color: #fecf23;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#fecf23), to(#fd9215));
   background-image: -webkit-linear-gradient(top, #fecf23, #fd9215);
   background-image: -moz-linear-gradient(top, #fecf23, #fd9215);
   background-image: -ms-linear-gradient(top, #fecf23, #fd9215);
   background-image: -o-linear-gradient(top, #fecf23, #fd9215);
   background-image: linear-gradient(top, #fecf23, #fd9215);
}

.green span {
   background-color: #a5df41;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#a5df41), to(#4ca916));
   background-image: -webkit-linear-gradient(top, #a5df41, #4ca916);
   background-image: -moz-linear-gradient(top, #a5df41, #4ca916);
   background-image: -ms-linear-gradient(top, #a5df41, #4ca916);
   background-image: -o-linear-gradient(top, #a5df41, #4ca916);
   background-image: linear-gradient(top, #a5df41, #4ca916);
}

.stripes span {
   -webkit-background-size: 30px 30px;
   -moz-background-size: 30px 30px;
   background-size: 30px 30px;
   background-image: -webkit-gradient(linear, left top, right bottom,
   color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
   color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
   color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
   to(transparent));
   background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
   transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
   transparent 75%, transparent);
   background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
   transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
   transparent 75%, transparent);
   background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
   transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
   transparent 75%, transparent);
   background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
   transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
   transparent 75%, transparent);
   background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
   transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
   transparent 75%, transparent);
   -webkit-animation: stripes 3s linear infinite;
   -moz-animation: animate-stripes 3s linear infinite;
}

@-webkit-keyframes animate-stripes {
   0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@-moz-keyframes animate-stripes {
   0% {background-position: 0 0;} 100% {background-position: 60px 0;}

